<!DOCTYPE html>
<html lang="en" th:replace = "~{base :: parent(~{::#content},~{::title},~{})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
 
</head>
<body>
   <section id="content">
    <h1>Welcome to service</h1>
    <p>This is a service page</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, omnis!</p>
   </section>
   <script>
    console.log("Welcome to service bitches");
   </script>
</body>
</html>
